# React Native
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Android
android/app/build/
android/.gradle/
android/build/
android/app/*.iml
android/local.properties
**/gradle-wrapper.jar
.gradle/
captures/
.externalNativeBuild/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
DerivedData/
*.hmap
*.ipa

# Misc
.expo/
*.log
*.tmp
*.swp
*.DS_Store
.env
.env.*.local

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Unity (if integrating Unity)
UnityLibrary/
*.meta
*.unitypackage

/.venv
